n8n-workflow-telegram.json
{
  "name": "BĐS Nguồn Hàng - Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [260, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agent:8000/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Token", "value": "={{ $env.API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.message.text }) }}",
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Goi Agent API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {}
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Tra loi Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CRED_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Goi Agent API", "type": "main", "index": 0 }]]
    },
    "Goi Agent API": {
      "main": [[{ "node": "Tra loi Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
